version: "3.9"
services:
  db:
    image: postgres:14
    volumes:
      - llm_knowledge_bank_db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=develop
      - POSTGRES_USER=develop
      - POSTGRES_PASSWORD=develop
#    healthcheck:
#      #test: [ "CMD-SHELL", "pg_isready -q -U anotheruser -d anotherdb" ]
#      test: [ "CMD-SHELL", "pg_isready" ]
#      interval: 5s
#      timeout: 5s
#      retries: 10

#  web:
#    build:
#      # parent dir of dir that contains docker-compose.yml
#      context: ../
#      dockerfile: ./docker/Dockerfile
#    command: python manage.py runserver 0.0.0.0:8000
#    volumes:
#      - ../:/code
#    ports:
#      - "8000:8000"
#    environment:
#      - POSTGRES_NAME=develop
#      - POSTGRES_USER=develop
#      - POSTGRES_PASSWORD=develop
#    depends_on:
#      db:
#        condition: service_healthy
#        #restart: true

volumes:
  llm_knowledge_bank_db_data: